.NET+/WCFClient2/WCFClient2/Service References/ServiceReference1/RoomService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/RoomService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFReservationServer" />
  <xs:element name="Reserve">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFReservationServer" minOccurs="0" name="res" nillable="true" type="q1:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReserveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>